---
import HabilidadesBlandas from "../components/habilidades/habilidadesBlandas.astro";
import HabilidadesLayout from "../components/habilidades/habilidadesLayout.astro";
import TitleSection from "../components/otros/titleSection.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Habilidades">
  <main class="main-habilidades">
		<article class="inicio-informacion">
      <section class="section-title">
        <TitleSection nameTitle="Habilidades" addLine="underline" typeTarget="h1"/>
      </section>
      <HabilidadesLayout/>
      <HabilidadesBlandas/>
		</article>
	</main>
</Layout>

<style>
/* 
ESTILOS GENERALES DE LA ETIQUETA PRINCIPAL
*/
.main-habilidades {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  gap: 1rem;
}
/* 
ESTILOS PARA LA SECCION DE informacion
*/
.inicio-informacion {
	max-width: 120rem;
	width: 100%;
	min-height: 50rem;
	margin: 4rem auto 0 auto;
	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

@media only screen and (max-width: 980px) {
  .main-habilidades {
    margin-top: 3rem;
    min-height: 115rem;
  }
  .inicio-informacion {
    min-height: 60rem;
  }
}
@media only screen and (max-width: 660px) {
  .main-habilidades {
    margin-top: 0;
    min-height: 30rem;
  }
  .inicio-informacion {
    margin-top: 0;
  }
}
</style>