---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/otros/buttonLink.astro";
---

<Layout title="404Error">
  <main class="main-404">
    <article class="inicio-content">
			<section class="error-info">
				<h2>404</h2>
				<h1>Error, Pagina no encontrada</h1>
				<p>Parece que te haz perdido, Puedes volver a mi pagina principal</p>
				<ButtonLink 
					hrefBtn="/"
					nameBtn="Inicio"
					styleBtn="purple"
					_blank="false"
					formBtn="Section"
					/>
			</section>
			<picture class="error-img">
				<Image 
					src="/images/404/pcCatError.svg" 
					alt="Imagen de error 404" 
					width="600" 
					height="400" 
					loading="eager" 
					decoding="async" 
					format='svg'
					/>
				<!-- <img src="./images/404/pcCatError.svg" alt=""> -->
			</picture>
    </article>
  </main>
</Layout>



<style>
  /* 
ESTILOS GENERALES DE LA ETIQUETA 404
*/
.main-404 {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  gap: 1rem;
}
/* 
ESTILOS PARA LA SECCION DE CONTENIDO
*/
.inicio-content {
	max-width: 120rem;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	/* flex-wrap: wrap-reverse; */
}

/* ESTILOS DE LAS SECCIONES */
.error-info {
	max-width: 30rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: animationTop 0.5s ease;
	& h2 {
		font-size: clamp(3rem, 8vw, 8rem);
		margin: 0;
		color: var(--text-purple-c-dark);
		animation: animationMoveTopButton 1.5s ease-in-out infinite;
	}
	& h1 {
		margin: 0;
		font-size: clamp(1.4rem, 3vw, 2rem);
		color: var(--text-important-c-dark);
	}
	& p {
		font-size: clamp(1rem, 2vw, 1.2rem);
		max-width: 20rem;
		color: var(--text-secondary-c-dark);
	}
}
.error-img {
	animation: animationMoveTopButton 2s ease-in-out infinite;
}
.error-img img {
	padding: 1rem;
	max-width: 600px;
	max-height: 400px;
	min-width: 100px;
	min-height: 100px;
	width: 100%;
	height: auto;
}
@media only screen and (max-width: 980px) {
	.main-404 {
		margin-top: 14rem;
		min-height: 80vh;
		
	}
	.inicio-content {
		flex-wrap: wrap;
		min-height: 10rem;
	}
	.error-img img {
		padding: 4rem;
	}
}
@media only screen and (max-width: 660px) {
	.main-404 {
		margin-top: 0;
		min-height: 70vh;
		align-items: center;
	}
	.error-img img {
		padding: 1rem;
	}
}
</style>