---
import TitleSection from "../components/otros/titleSection.astro";
import MisProyectos from "../components/proyectos/misProyectos.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="proyectos">
  <main class="main-proyectos">
		<article class="proyectos">
			<section class="title-section">
				<TitleSection  nameTitle="Proyectos" addLine="underline" typeTarget="h1"/>
			</section>
			<MisProyectos />
		</article>
	</main>
</Layout>

<style>
/* 
ESTILOS GENERALES DE LA ETIQUETA PRINCIPAL
*/
.main-proyectos {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  gap: 1rem;
}
/* 
ESTILOS PARA LA SECCION DE PROYECTOS
*/
.proyectos {
	max-width: 120rem;
	width: 100%;
	min-height: 50rem;
	margin: 4rem auto 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 1rem;
}

.title-section {
	width: 100%;
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 980px) {
  .proyectos {
    margin-top: 14rem;
  }
}

@media only screen and (max-width: 660px) {
  .proyectos {
    margin-top: 0;
  }
}
</style>