---
import {ClientRouter} from 'astro:transitions';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/footer.astro';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
interface Props {
	title: string;
}

const { title } = Astro.props;


---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- SEO -->
		<title>{title}</title>
		<meta name="description" content="Portafolio web de Josue Huayapa para presentarme y demostrar mis proyectos." />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/favicon.svg">
		<meta name="robots" content="index, follow" />
		<link rel='canonical' href='https://portafolio-huayapa.vercel.app/'/>
		<meta name='theme-color' content='#030211'>
		<meta name="author" content="Josue Andres Huayapa Julca">
		<!-- Open Graph -->
		<meta property="og:title" content="Portafolio Huayapa" />
		<meta property="og:description" content="Portafolio web de Josue Huayapa para presentarme y demostrar mis proyectos." />
		<meta property="og:image" content="https://portafolio-huayapa.vercel.app/images/readmePreviewPage.jpg" />
		<meta property="og:url" content="https://portafolio-huayapa.vercel.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Huayapa Portafolio" />
		<meta property="og:locale" content="es_ES" />
		<!-- Twitter (X) -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Portafolio Huayapa" />
		<meta name="twitter:description" content="Portafolio web de Josue Huayapa para presentarme y demostrar mis proyectos." />
		<meta name="twitter:image" content="https://portafolio-huayapa.vercel.app/images/readmePreviewPage.jpg" />
		<meta name="twitter:url" content="https://portafolio-huayapa.vercel.app/" />
		<ClientRouter/>
		<Analytics />
		<SpeedInsights/>
	</head>
	<body>
		<Header />
		<div class="fondo-dark"></div>
		<slot />
		<Footer/>
	</body>
</html>

<style is:global>
	:root {
		/* COLORES DEL SCROLL */
		--fondo-scroll-c-dark: #030211;
		--scroll-c-dark: #ffffff;
		/* COLORES DE FONDO */
		--page-fondo-c-dark: radial-gradient(125% 125% at 50% 10%,#030211 52%,#4C1AD4 120%);
		--footer-fondo-c-dark: #030211;
		--header-fondo-c-dark: #030211;
		/* COLORES DE TEXTO */
		--text-link-header-c-dark: #ffffff;
		--text-link-footer-c-dark: #ffffff;
		--text-link-alt-c-dark: #AAAAAA;
		--text-alert-dark: #AAAAAA;
		--text-alert-red-dark: #a212c2;

		--text-important-c-dark: #FFFFFF;
		--text-secondary-c-dark: #AAAAAA;
		--text-purple-c-dark: #A30CC1;
		/* COLORES PARA DECORACIONES */
		--line-title-c-dark: #3E0CC1;
		--decoration-home-lenguage: #ffffff;
		/* COLORES PARA LOS BORDES */
		--border-primary-c-dark: #3E0CC1;
		--border-secondary-c-dark: #A30CC1;
		/* COLORES DE BOTONES */
		--text-btn-c-dark: #FFFFFF;

		--border-btn-default-c-dark: #969696;
		--border-btn-blue-c-dark: #3E0CC1;
		--border-btn-purple-c-dark: #A30CC1;

		--fondo-btn-default-c-dark: #96969620;
		--fondo-btn-blue-c-dark: #3E0CC120;
		--fondo-btn-purple-c-dark: #A30CC120;

		/* COLORES PARA 404 */
		
		/* COLORES PARA SECCIONES O ARTICULOS */
		--border-box-primary-c-dark: #3E0CC1;
		--border-box-secodary-c-dark: #A30CC1;
		--fondo-box-primary-c-dark: #3E0CC120;
		--fondo-box-secondary-c-dark: #A30CC120;
		/* COLOR DE FORMULARIO */
		--text-btn-input-c-dark: #FFFFFF;
		--line-input-c-dark: #3E0CC1;
		--fondo-input-c-dark: #ffffff12;
		--fondo-input-focus-c-dark: #ffffff20;
		--line-form-c-dark: #3E0CC1;
		--fondo-form-c-dark: #3E0CC120;
		/* COLORES PARA LA MODAL */
		--border-modal-primary-c-dark: #3E0CC1;
		--fondo-modal-primary-c-dark: #030211;
		--text-modal-primary-c-dark: #ffffff;
		/* COLOR DE LENGUAJES */
		/*JS*/
		--border-lenguaje-JS: #F0DB4F;
		--fondo-lenguaje-JS: #F0DB4F20;
		/* HTML */
		--border-lenguaje-HTML: #DC6E3C;
		--fondo-lenguaje-HTML: #DC6E3C20;
		/* PHP */
		--border-lenguaje-PHP: #777BB3;
		--fondo-lenguaje-PHP: #777BB320;
		/* CSS */
		--border-lenguaje-CSS: #663399;
		--fondo-lenguaje-CSS: #66339920;
		/* MYSQL */
		--border-lenguaje-MYSQL: #00546B;
		--fondo-lenguaje-MYSQL: #00546B20;
		/* TS */
		--border-lenguaje-TS: #3178C6;
		--fondo-lenguaje-TS: #3178C620;
		/* ASTRO */
		--border-lenguaje-ASTRO: rgba(244,9,80,1);
		--fondo-lenguaje-ASTRO: rgba(244,9,80,0.2);
		/* ANGULAR */
		--border-lenguaje-ANGULAR:  rgba(255,49,211,1);
		--fondo-lenguaje-ANGULAR:  rgba(255,49,211,0.2);

	}
	html {
		font-family: Menlo, sans-serif;
	}
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	/* VARIABLES GLOBALES PERSONALIZADAS */
	body {
		margin: 0;
		color: white;
		overflow-x: hidden;
	}
	.fondo-dark {
		min-height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: -10;
		background: var(--page-fondo-c-dark);
	}

	/* ESTILO PARA EL SCROLL */
html::-webkit-scrollbar {
  width: 6px;
  background-color: var(--fondo-scroll-c-dark);
}
html::-webkit-scrollbar:window-inactive {
  display: none;
}
html::-webkit-scrollbar-thumb  {
  background-color: var(--scroll-c-dark);
  border-radius: 6px;
}

/*###################################
####### ANIMACIONES GLOBALES ######## 
###################################*/

@keyframes animationMoveTopButton {
	0% {
		transform: translateY(-10%);
	}
	50% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(-10%);
	}
}
@keyframes animationOpacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes animationTop {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes animationLeftSection {
	from {
		transform: translateX(200px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes animationRightSection {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes animationScaleIcon {
	from {
		transform: scale(1.02);
	}
	to {
		transform: scale(1);
	}
}
</style>